services:
  php:
    image: dunglas/frankenphp
    volumes:
      - ./:/app
    ports:
      - "8080:80"
      - "443:443"
    environment:
      SERVER_NAME: :80
      DATABASE_URL: "mysql://root:root@database:3306/landlord_db?serverVersion=8.0"
    depends_on:
      - database
    restart: always

  database:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: landlord_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: